@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');

h1, h2, h3, h4, h5, h6{
    font-family: 'Boogaloo', cursive;
}

a{
    font-family: 'Boogaloo', cursive;
}

p{
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 110%;
}

/*CAROUSEL - PORTADA*/
img.carrousel-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div.carousel{
    background-color: rgb(125, 130, 134);
}

div.portada{
    width: 100%;

}

div.jumbotron{
    margin: 0px;
    background-image: url("../img/taulell.jpg");
    height: 45%;
}
h1.titol{
    text-align: center;
    font-size: 60px;
    color: white;

}

/* PROPERS ESDEVENIMENTS */
li > a{
    text-decoration: none;
    font-style: normal;
    color: black;
}

li > a{
    text-decoration: none;
    font-style: normal;
    color: black;
}

li > i{
    font-size: 130%;
}

.esdeveniment-finalitzat{
    text-decoration: line-through;
}

/*
div.jumbotron > div.container{
    background-image: url("../img/taulell.jpg");
}
*/

/* ARTICLES */
article{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
}

/* CONTACTE - XARXES SOCIALS */
.icon{
    font-size: 130%;
}

span.separacio{
    width: 20%;
}

a.contacte{
    color: black;
}

img.joc{
    width: 380px;
    float: right;
    padding: 3%;


}



/* PEU DE PAGINA */
footer{
    background-color: gray;
    margin-bottom: 0px;
}

footer > p{
    margin-bottom: 0px;
}

footer > div > a {
    margin-left: auto;
    margin-right: auto;
}

